In [1]:
import pandas as pd
import numpy as np

#### This notebook filters the annotated FAERS strings and drug matches to remove duplicates and save as CSVs.

Details and NP list - https://github.com/sanyabt/NP-FAERS-embed/wiki

In [5]:
df = pd.read_csv('data/raw_data/NP_FAERS_match_all_20220215.csv')
df1= pd.read_csv('data/raw_data/NP_FAERS_reference_set_20220215.csv')
df2 = pd.read_csv('data/raw_data/NP_FAERS_negative_pairs_20220215.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9478 entries, 0 to 9477
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   related_latin_binomial  9478 non-null   object
 1   related_common_name     9478 non-null   object
 2   FAERS_drug_match        9478 non-null   object
dtypes: object(3)
memory usage: 222.3+ KB

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4610 entries, 0 to 4609
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4610 non-null   object
 1   related_latin_binomial  4610 non-null   object
 2   related_common_name     4610 non-null   object
dtypes: object(3)
memory usage: 108.2+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4863 entries, 0 to 4862
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4863 non-null   object
 1   related_latin_binomial  4863 non-null   object
 2   related_common_name     4863 non-null   object
dtypes: object(3)
memory usage: 114.1+ KB

In [7]:
#remove duplicates

In [9]:
df = df.drop_duplicates(ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7234 entries, 0 to 7233
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   related_latin_binomial  7234 non-null   object
 1   related_common_name     7234 non-null   object
 2   FAERS_drug_match        7234 non-null   object
dtypes: object(3)
memory usage: 169.7+ KB

In [10]:
df1 = df1.drop_duplicates(ignore_index=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  2679 non-null   object
 2   related_common_name     2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [11]:
df2 = df2.drop_duplicates(ignore_index=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4621 non-null   object
 1   related_latin_binomial  4621 non-null   object
 2   related_common_name     4621 non-null   object
dtypes: object(3)
memory usage: 108.4+ KB

In [12]:
#find intersection of postive and negative pairs - intersection = 0
dftemp = pd.merge(df1, df2, how='inner', on=['FAERS_drug_match'])
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FAERS_drug_match          0 non-null      object
 1   related_latin_binomial_x  0 non-null      object
 2   related_common_name_x     0 non-null      object
 3   related_latin_binomial_y  0 non-null      object
 4   related_common_name_y     0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

In [13]:
df1.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda
1,ASHWAGANDHA,Withania somnifera,Ashwaganda
2,"ASHWAGANDHA,",Withania somnifera,Ashwaganda
3,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda
4,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda

In [14]:
##add lookup values from common name and latin binomial
#each row maps to both common name and latin binomial in positive pair
dfpos = df1[['FAERS_drug_match', 'related_common_name']]
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FAERS_drug_match     2679 non-null   object
 1   related_common_name  2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  2679 non-null   object
 2   lookup_value            2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [16]:
dfpos = dfpos.rename(columns={'related_common_name':'lookup_value'})
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  2679 non-null   object
 1   lookup_value      2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [19]:
dftemp = df1[['FAERS_drug_match', 'related_latin_binomial']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  2679 non-null   object
 1   lookup_value      2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [20]:
dfpos = pd.concat([dfpos, dftemp])
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5358 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  5358 non-null   object
 1   lookup_value      5358 non-null   object
dtypes: object(2)
memory usage: 125.6+ KB

In [21]:
dfpos.to_csv('data/NP_FAERS_mapped_20220215.csv', index=False)

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4621 non-null   object
 1   related_latin_binomial  4621 non-null   object
 2   related_common_name     4621 non-null   object
dtypes: object(3)
memory usage: 108.4+ KB

In [23]:
df2.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,Cinnamomum verum,Cinnamon,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT..."
1,Cinnamomum verum,Cinnamon,ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...
2,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU..."
3,Cinnamomum verum,Cinnamon,ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;
4,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,..."

In [24]:
dfneg = df2[['FAERS_drug_match', 'related_common_name']]
dfneg = dfneg.rename(columns={'related_common_name':'lookup_value'})
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  4621 non-null   object
 1   lookup_value      4621 non-null   object
dtypes: object(2)
memory usage: 72.3+ KB

In [25]:
dftemp = df2[['FAERS_drug_match', 'related_latin_binomial']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  4621 non-null   object
 1   lookup_value      4621 non-null   object
dtypes: object(2)
memory usage: 72.3+ KB

In [26]:
dfneg = pd.concat([dfneg, dftemp])
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9242 entries, 0 to 4620
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  9242 non-null   object
 1   lookup_value      9242 non-null   object
dtypes: object(2)
memory usage: 216.6+ KB

In [27]:
dfneg.to_csv('data/NP_FAERS_negative_pairs_20220215.csv', index=False)

In [ ]:
## process indications data, fix boswellia spelling