In [1]:
import pandas as pd
import numpy as np

#### This notebook filters the annotated FAERS strings and drug matches to remove duplicates and save as CSVs.

Details and NP list - https://github.com/sanyabt/NP-FAERS-embed/wiki

In [2]:
df = pd.read_csv('data/raw_data/NP_FAERS_match_all_20220215.csv')
df1= pd.read_csv('data/raw_data/NP_FAERS_reference_set_20220215.csv')
df2 = pd.read_csv('data/raw_data/NP_FAERS_negative_pairs_20220215.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9478 entries, 0 to 9477
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   related_latin_binomial  9478 non-null   object
 1   related_common_name     9478 non-null   object
 2   FAERS_drug_match        9478 non-null   object
dtypes: object(3)
memory usage: 222.3+ KB

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4610 entries, 0 to 4609
Data columns (total 3 columns):
FAERS_drug_match          4610 non-null object
related_latin_binomial    4610 non-null object
related_common_name       4610 non-null object
dtypes: object(3)
memory usage: 108.1+ KB

In [3]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4863 entries, 0 to 4862
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4863 non-null   object
 1   related_latin_binomial  4863 non-null   object
 2   related_common_name     4863 non-null   object
dtypes: object(3)
memory usage: 114.1+ KB

In [4]:
##FIX
df2.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,Cinnamomum verum,Cinnamon,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT..."
1,Cinnamomum verum,Cinnamon,ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...
2,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU..."
3,Cinnamomum verum,Cinnamon,ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;
4,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,..."

In [6]:
#remove duplicates

In [10]:
df = df.drop_duplicates(ignore_index=True)
df.info()

TypeError: drop_duplicates() got an unexpected keyword argument 'ignore_index'

In [8]:
df1 = df1.drop_duplicates(ignore_index=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  2679 non-null   object
 2   related_common_name     2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [12]:
df2 = df2.drop_duplicates()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4621 entries, 0 to 4862
Data columns (total 3 columns):
FAERS_drug_match          4621 non-null object
related_latin_binomial    4621 non-null object
related_common_name       4621 non-null object
dtypes: object(3)
memory usage: 144.4+ KB

In [12]:
#find intersection of postive and negative pairs - intersection = 0
dftemp = pd.merge(df1, df2, how='inner', on=['FAERS_drug_match'])
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FAERS_drug_match          0 non-null      object
 1   related_latin_binomial_x  0 non-null      object
 2   related_common_name_x     0 non-null      object
 3   related_latin_binomial_y  0 non-null      object
 4   related_common_name_y     0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

In [10]:
df1.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda
1,ASHWAGANDHA,Withania somnifera,Ashwaganda
2,"ASHWAGANDHA,",Withania somnifera,Ashwaganda
3,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda
4,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda

In [10]:
##add lookup values from common name and latin binomial
#each row maps to both common name and latin binomial in positive pair
dfpos = df1[['FAERS_drug_match', 'related_common_name']]
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FAERS_drug_match     2679 non-null   object
 1   related_common_name  2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  2679 non-null   object
 2   related_common_name     2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [12]:
dfpos = dfpos.rename(columns={'related_common_name':'lookup_value'})
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  2679 non-null   object
 1   lookup_value      2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [13]:
dftemp = df1[['FAERS_drug_match', 'related_latin_binomial']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  2679 non-null   object
 1   lookup_value      2679 non-null   object
dtypes: object(2)
memory usage: 42.0+ KB

In [14]:
dfpos = pd.concat([dfpos, dftemp])
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5358 entries, 0 to 2678
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  5358 non-null   object
 1   lookup_value      5358 non-null   object
dtypes: object(2)
memory usage: 125.6+ KB

In [21]:
dfpos.to_csv('data/NP_FAERS_mapped_20220215.csv', index=False)

In [14]:
df2 = df2.reset_index(drop=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 3 columns):
FAERS_drug_match          4621 non-null object
related_latin_binomial    4621 non-null object
related_common_name       4621 non-null object
dtypes: object(3)
memory usage: 108.4+ KB

In [15]:
df2.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,Cinnamomum verum,Cinnamon,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT..."
1,Cinnamomum verum,Cinnamon,ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...
2,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU..."
3,Cinnamomum verum,Cinnamon,ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;
4,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,..."

In [16]:
df2 = df2.rename(columns={'related_common_name':'FAERS_drug_name'})
df2 = df2.rename(columns={'related_latin_binomial': 'related_common_name'})
df2 = df2.rename(columns={'FAERS_drug_match':'related_latin_binomial'})
df2.head()

,related_latin_binomial,related_common_name,FAERS_drug_name
0,Cinnamomum verum,Cinnamon,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT..."
1,Cinnamomum verum,Cinnamon,ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...
2,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU..."
3,Cinnamomum verum,Cinnamon,ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;
4,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,..."

In [17]:
df2 = df2.rename(columns={'FAERS_drug_name':'FAERS_drug_match'})

In [18]:
df2.head()

,related_latin_binomial,related_common_name,FAERS_drug_match
0,Cinnamomum verum,Cinnamon,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT..."
1,Cinnamomum verum,Cinnamon,ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...
2,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU..."
3,Cinnamomum verum,Cinnamon,ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;
4,Cinnamomum verum,Cinnamon,"ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,..."

In [19]:
dfneg = df2[['FAERS_drug_match', 'related_common_name']]
dfneg = dfneg.rename(columns={'related_common_name':'lookup_value'})
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 2 columns):
FAERS_drug_match    4621 non-null object
lookup_value        4621 non-null object
dtypes: object(2)
memory usage: 72.3+ KB

In [20]:
dftemp = df2[['FAERS_drug_match', 'related_latin_binomial']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 2 columns):
FAERS_drug_match    4621 non-null object
lookup_value        4621 non-null object
dtypes: object(2)
memory usage: 72.3+ KB

In [21]:
dfneg = pd.concat([dfneg, dftemp])
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9242 entries, 0 to 4620
Data columns (total 2 columns):
FAERS_drug_match    9242 non-null object
lookup_value        9242 non-null object
dtypes: object(2)
memory usage: 216.6+ KB

In [22]:
dfneg.head()

                                    FAERS_drug_match lookup_value
0  ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...     Cinnamon
1  ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...     Cinnamon
2  ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU...     Cinnamon
3      ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;     Cinnamon
4  ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,...     Cinnamon

In [23]:
dfneg.to_csv('data/NP_FAERS_negative_pairs_20220222.csv', index=False)

## process indications data, fix boswellia spelling, add to df_pos

In [13]:
df1.loc[df1['related_latin_binomial'] == 'Boswelfia serrata', 'related_latin_binomial'] = 'Boswellia serrata'

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2679 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        2679 non-null   object
 1   related_latin_binomial  2679 non-null   object
 2   related_common_name     2679 non-null   object
dtypes: object(3)
memory usage: 62.9+ KB

In [15]:
dfind = pd.read_csv('data/raw_data/combined_np_mapping_to_indi_202202172157.csv')
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16600 entries, 0 to 16599
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   primaryid            14260 non-null  float64
 1   isr                  2340 non-null   float64
 2   drug_name_original   16600 non-null  object
 3   indi_pt              16600 non-null  object
 4   indi_concept_id      16600 non-null  int64
 5   related_common_name  16600 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 778.2+ KB

In [16]:
dfind = dfind.drop(['primaryid', 'isr', 'indi_concept_id'], axis=1)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16600 entries, 0 to 16599
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   drug_name_original   16600 non-null  object
 1   indi_pt              16600 non-null  object
 2   related_common_name  16600 non-null  object
dtypes: object(3)
memory usage: 389.2+ KB

In [18]:
dfind = dfind.drop(['drug_name_original'], axis=1)
dfind.head()

         indi_pt related_common_name
0     Depression        Hemp extract
1  Adverse event        Hemp extract
2           Pain        Hemp extract
3     Depression              Kratom
4           Pain        Hemp extract

In [26]:
dfind = dfind.drop_duplicates(ignore_index = True)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   indi_pt              1094 non-null   object
 1   related_common_name  1094 non-null   object
dtypes: object(2)
memory usage: 17.2+ KB

In [19]:
df1.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda
1,ASHWAGANDHA,Withania somnifera,Ashwaganda
2,"ASHWAGANDHA,",Withania somnifera,Ashwaganda
3,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda
4,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda

In [27]:
df_indications = df1.join(dfind.set_index('related_common_name'), on='related_common_name')
df_indications.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122033 entries, 0 to 2678
Data columns (total 4 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   FAERS_drug_match        122033 non-null  object
 1   related_latin_binomial  122033 non-null  object
 2   related_common_name     122033 non-null  object
 3   indi_pt                 121939 non-null  object
dtypes: object(4)
memory usage: 4.7+ MB

In [31]:
df_indications.head()

,FAERS_drug_match,related_latin_binomial,related_common_name,indi_pt
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,Prophylaxis
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,Product used for unknown indication
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,Routine health maintenance
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,Attention deficit/hyperactivity disorder
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,Pain

In [36]:
dfind.loc[dfind['related_common_name'] == 'Ashwaganda'].shape

(17, 2)

In [35]:
df1.loc[df1['related_common_name'] == 'Ashwaganda'].shape

(40, 3)

In [37]:
df_indications.loc[df_indications['related_common_name'] == 'Ashwaganda'].shape

(680, 4)

In [ ]:
#save file with indications data with join over common name

In [38]:
##add lookup values from common name and latin binomial
#each row maps to both common name and latin binomial in positive pair
dfpos = df_indications[['FAERS_drug_match', 'related_common_name', 'indi_pt']]
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122033 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FAERS_drug_match     122033 non-null  object
 1   related_common_name  122033 non-null  object
 2   indi_pt              121939 non-null  object
dtypes: object(3)
memory usage: 3.7+ MB

In [39]:
dfpos = dfpos.rename(columns={'related_common_name':'lookup_value'})
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122033 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   FAERS_drug_match  122033 non-null  object
 1   lookup_value      122033 non-null  object
 2   indi_pt           121939 non-null  object
dtypes: object(3)
memory usage: 3.7+ MB

In [41]:
dftemp = df_indications[['FAERS_drug_match', 'related_latin_binomial', 'indi_pt']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122033 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   FAERS_drug_match  122033 non-null  object
 1   lookup_value      122033 non-null  object
 2   indi_pt           121939 non-null  object
dtypes: object(3)
memory usage: 3.7+ MB

In [42]:
dfpos = pd.concat([dfpos, dftemp])
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244066 entries, 0 to 2678
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   FAERS_drug_match  244066 non-null  object
 1   lookup_value      244066 non-null  object
 2   indi_pt           243878 non-null  object
dtypes: object(3)
memory usage: 7.4+ MB

In [43]:
dfpos.to_csv('data/NP_FAERS_mapped_indications_join_20220217.csv', index=False)

In [ ]:
###join and include indications based on drug name original so rest are null

In [45]:
dfind = pd.read_csv('data/raw_data/combined_np_mapping_to_indi_202202172157.csv')
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16600 entries, 0 to 16599
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   primaryid            14260 non-null  float64
 1   isr                  2340 non-null   float64
 2   drug_name_original   16600 non-null  object
 3   indi_pt              16600 non-null  object
 4   indi_concept_id      16600 non-null  int64
 5   related_common_name  16600 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 778.2+ KB

In [46]:
dfind = dfind.drop(['primaryid', 'isr', 'indi_concept_id', 'related_common_name'], axis=1)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16600 entries, 0 to 16599
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   drug_name_original  16600 non-null  object
 1   indi_pt             16600 non-null  object
dtypes: object(2)
memory usage: 259.5+ KB

In [47]:
dfind.head()

    drug_name_original        indi_pt
0           MARIJUANNA     Depression
1  CANNABIS SATIVA OIL  Adverse event
2            MARIJUANA           Pain
3               KRATOM     Depression
4            MARIJUANA           Pain

In [48]:
df1= pd.read_csv('data/raw_data/NP_FAERS_reference_set_20220215.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4610 entries, 0 to 4609
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4610 non-null   object
 1   related_latin_binomial  4610 non-null   object
 2   related_common_name     4610 non-null   object
dtypes: object(3)
memory usage: 108.2+ KB

In [49]:
dfind = dfind.rename(columns={'drug_name_original': 'FAERS_drug_match'})
dfind.head()

      FAERS_drug_match        indi_pt
0           MARIJUANNA     Depression
1  CANNABIS SATIVA OIL  Adverse event
2            MARIJUANA           Pain
3               KRATOM     Depression
4            MARIJUANA           Pain

In [50]:
df1.head()

,FAERS_drug_match,related_latin_binomial,related_common_name
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda
1,ASHWAGANDHA,Withania somnifera,Ashwaganda
2,"ASHWAGANDHA,",Withania somnifera,Ashwaganda
3,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda
4,ASHWAGANDHA /01660201/,Withania somnifera,Ashwaganda

In [51]:
df_ind2 = df1.join(dfind.set_index('FAERS_drug_match'), on='FAERS_drug_match')
df_ind2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55956 entries, 0 to 4609
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        55956 non-null  object
 1   related_latin_binomial  55956 non-null  object
 2   related_common_name     55956 non-null  object
 3   indi_pt                 53273 non-null  object
dtypes: object(4)
memory usage: 2.1+ MB

In [55]:
df_ind2.head()

,FAERS_drug_match,related_latin_binomial,related_common_name,indi_pt
0,"ADRENAL HEALTH (BRAND) = (SIBERIAN RHODIOLA, R...",Withania somnifera,Ashwaganda,NaN
1,ASHWAGANDHA,Withania somnifera,Ashwaganda,Product used for unknown indication
2,ASHWAGANDHA,Withania somnifera,Ashwaganda,Routine health maintenance
3,ASHWAGANDHA,Withania somnifera,Ashwaganda,Stress
4,ASHWAGANDHA,Withania somnifera,Ashwaganda,Arthropathy

In [54]:
df_ind2 = df_ind2.drop_duplicates(ignore_index=True)
df_ind2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4137 entries, 0 to 4136
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FAERS_drug_match        4137 non-null   object
 1   related_latin_binomial  4137 non-null   object
 2   related_common_name     4137 non-null   object
 3   indi_pt                 2465 non-null   object
dtypes: object(4)
memory usage: 129.4+ KB

In [ ]:
#add latin binomial mapping and save file

In [56]:
##add lookup values from common name and latin binomial
#each row maps to both common name and latin binomial in positive pair
dfpos = df_ind2[['FAERS_drug_match', 'related_common_name', 'indi_pt']]
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4137 entries, 0 to 4136
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FAERS_drug_match     4137 non-null   object
 1   related_common_name  4137 non-null   object
 2   indi_pt              2465 non-null   object
dtypes: object(3)
memory usage: 97.1+ KB

In [57]:
dfpos = dfpos.rename(columns={'related_common_name':'lookup_value'})
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4137 entries, 0 to 4136
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  4137 non-null   object
 1   lookup_value      4137 non-null   object
 2   indi_pt           2465 non-null   object
dtypes: object(3)
memory usage: 97.1+ KB

In [58]:
dftemp = df_ind2[['FAERS_drug_match', 'related_latin_binomial', 'indi_pt']]
dftemp = dftemp.rename(columns={'related_latin_binomial': 'lookup_value'})
dftemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4137 entries, 0 to 4136
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  4137 non-null   object
 1   lookup_value      4137 non-null   object
 2   indi_pt           2465 non-null   object
dtypes: object(3)
memory usage: 97.1+ KB

In [59]:
dfpos = pd.concat([dfpos, dftemp])
dfpos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8274 entries, 0 to 4136
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  8274 non-null   object
 1   lookup_value      8274 non-null   object
 2   indi_pt           4930 non-null   object
dtypes: object(3)
memory usage: 258.6+ KB

In [60]:
dfpos.to_csv('data/NP_FAERS_mapped_indications_join_on_drugname_20220218.csv', index=False)

### process indications for negative pairs

In [5]:
dfneg = pd.read_csv('data/NP_FAERS_negative_pairs_20220222.csv')
dfneg.head()

                                    FAERS_drug_match lookup_value
0  ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...     Cinnamon
1  ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...     Cinnamon
2  ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU...     Cinnamon
3      ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;     Cinnamon
4  ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,...     Cinnamon

In [6]:
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9242 entries, 0 to 9241
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  9242 non-null   object
 1   lookup_value      9242 non-null   object
dtypes: object(2)
memory usage: 144.5+ KB

In [12]:
dfneg.loc[dfneg['lookup_value'] == 'Boswelfia serrata', 'lookup_value'] = 'Boswellia serrata'

In [13]:
dfneg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9242 entries, 0 to 9241
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  9242 non-null   object
 1   lookup_value      9242 non-null   object
dtypes: object(2)
memory usage: 144.5+ KB

In [17]:
dfind = pd.read_csv('data/raw_data/NP_FAERS_negative_pairs_with_lookup_and_indication.csv')
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30042 entries, 0 to 30041
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   primaryid           21798 non-null  float64
 1   isr                 8244 non-null   float64
 2   faers_drug_match    30042 non-null  object
 3   indi_pt             30042 non-null  object
 4   indi_concept_id     30042 non-null  int64
 5   faers_drug_match.1  30042 non-null  object
 6   lookup_value        30042 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.6+ MB

In [18]:
dfind = dfind.drop(['primaryid', 'isr', 'indi_concept_id'], axis=1)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30042 entries, 0 to 30041
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   faers_drug_match    30042 non-null  object
 1   indi_pt             30042 non-null  object
 2   faers_drug_match.1  30042 non-null  object
 3   lookup_value        30042 non-null  object
dtypes: object(4)
memory usage: 938.9+ KB

In [19]:
dfind.head()

,faers_drug_match,indi_pt,faers_drug_match.1,lookup_value
0,GARDENALE,Partial seizures,GARDENALE,Beta vulgaris
1,GARDENALE,Partial seizures,GARDENALE,Beet root
2,ASS,Placental insufficiency,ASS,Malus domestica
3,ASS,Placental insufficiency,ASS,Apple cider vinegar
4,ARTIFICIAL TEARS,Product used for unknown indication,ARTIFICIAL TEARS,Camellia sinensis

In [20]:
dfind = dfind.drop(['faers_drug_match.1'], axis=1)
dfind.head()

   faers_drug_match                              indi_pt         lookup_value
0         GARDENALE                     Partial seizures        Beta vulgaris
1         GARDENALE                     Partial seizures            Beet root
2               ASS              Placental insufficiency      Malus domestica
3               ASS              Placental insufficiency  Apple cider vinegar
4  ARTIFICIAL TEARS  Product used for unknown indication    Camellia sinensis

In [22]:
dfind = dfind.drop(['faers_drug_match'], axis=1)
dfind.head()

                               indi_pt         lookup_value
0                     Partial seizures        Beta vulgaris
1                     Partial seizures            Beet root
2              Placental insufficiency      Malus domestica
3              Placental insufficiency  Apple cider vinegar
4  Product used for unknown indication    Camellia sinensis

In [23]:
dfind = dfind.drop_duplicates(ignore_index = True)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   indi_pt       3864 non-null   object
 1   lookup_value  3864 non-null   object
dtypes: object(2)
memory usage: 60.5+ KB

In [24]:
dfneg.head()

                                    FAERS_drug_match lookup_value
0  ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...     Cinnamon
1  ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...     Cinnamon
2  ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU...     Cinnamon
3      ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;     Cinnamon
4  ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,...     Cinnamon

In [26]:
df_indications = dfneg.join(dfind.set_index('lookup_value'), on='lookup_value')
df_indications.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1637012 entries, 0 to 9241
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   FAERS_drug_match  1637012 non-null  object
 1   lookup_value      1637012 non-null  object
 2   indi_pt           1636994 non-null  object
dtypes: object(3)
memory usage: 50.0+ MB

In [27]:
df_indications.head()

,FAERS_drug_match,lookup_value,indi_pt
0,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...",Cinnamon,Atrial fibrillation
0,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...",Cinnamon,Product used for unknown indication
0,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...",Cinnamon,Varicose vein
0,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...",Cinnamon,HIV infection
0,"ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...",Cinnamon,Peripheral venous disease

In [29]:
dfind.loc[dfind['lookup_value'] == 'Cinnamon'].shape

(85, 2)

In [35]:
df1.loc[df1['related_common_name'] == 'Ashwaganda'].shape

(40, 3)

In [37]:
df_indications.loc[df_indications['related_common_name'] == 'Ashwaganda'].shape

(680, 4)

In [ ]:
#save file with indications data with join over common name

In [31]:
df_indications.to_csv('data/NP_FAERS_mapped_indications_join_negative_pairs_20220223.csv', index=False)

In [ ]:
###join and include indications based on drug name original so rest are null

In [32]:
dfind = pd.read_csv('data/raw_data/NP_FAERS_negative_pairs_with_lookup_and_indication.csv')
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30042 entries, 0 to 30041
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   primaryid           21798 non-null  float64
 1   isr                 8244 non-null   float64
 2   faers_drug_match    30042 non-null  object
 3   indi_pt             30042 non-null  object
 4   indi_concept_id     30042 non-null  int64
 5   faers_drug_match.1  30042 non-null  object
 6   lookup_value        30042 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.6+ MB

In [33]:
dfind = dfind.drop(['primaryid', 'isr', 'indi_concept_id', 'faers_drug_match.1', 'lookup_value'], axis=1)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30042 entries, 0 to 30041
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   faers_drug_match  30042 non-null  object
 1   indi_pt           30042 non-null  object
dtypes: object(2)
memory usage: 469.5+ KB

In [34]:
dfind.head()

   faers_drug_match                              indi_pt
0         GARDENALE                     Partial seizures
1         GARDENALE                     Partial seizures
2               ASS              Placental insufficiency
3               ASS              Placental insufficiency
4  ARTIFICIAL TEARS  Product used for unknown indication

In [36]:
dfind = dfind.rename(columns={'faers_drug_match': 'FAERS_drug_match'})
dfind.head()

   FAERS_drug_match                              indi_pt
0         GARDENALE                     Partial seizures
1         GARDENALE                     Partial seizures
2               ASS              Placental insufficiency
3               ASS              Placental insufficiency
4  ARTIFICIAL TEARS  Product used for unknown indication

In [37]:
dfind = dfind.drop_duplicates(ignore_index=True)
dfind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4328 entries, 0 to 4327
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  4328 non-null   object
 1   indi_pt           4328 non-null   object
dtypes: object(2)
memory usage: 67.8+ KB

In [38]:
dfneg.head()

                                    FAERS_drug_match lookup_value
0  ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...     Cinnamon
1  ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...     Cinnamon
2  ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU...     Cinnamon
3      ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;     Cinnamon
4  ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,...     Cinnamon

In [39]:
df_ind2 = dfneg.join(dfind.set_index('FAERS_drug_match'), on='FAERS_drug_match')
df_ind2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13866 entries, 0 to 9241
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  13866 non-null  object
 1   lookup_value      13866 non-null  object
 2   indi_pt           8826 non-null   object
dtypes: object(3)
memory usage: 433.3+ KB

In [40]:
df_ind2.head()

                                    FAERS_drug_match lookup_value indi_pt
0  ANUSOL (BENZYL BENZOATE, BISMUTH OXIDE, BISMUT...     Cinnamon     NaN
1  ANUSOL (BENZYL BENZOATE/BISMUTH RESORCINOL/BIS...     Cinnamon     NaN
2  ANUSOL-HC (BALSAM PERU, BENZYL BENZOATE, BISMU...     Cinnamon     NaN
3      ANUSOL-HC [BENZYL BENZOATE;BISMUTH HYDROXIDE;     Cinnamon     NaN
4  ANUSOL-HC (BENZYL BENZOATE, BISMUTH HYDROXIDE,...     Cinnamon     NaN

In [41]:
df_ind2 = df_ind2.drop_duplicates(ignore_index=True)
df_ind2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13843 entries, 0 to 13842
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FAERS_drug_match  13843 non-null  object
 1   lookup_value      13843 non-null  object
 2   indi_pt           8808 non-null   object
dtypes: object(3)
memory usage: 324.6+ KB

In [ ]:
#add latin binomial mapping and save file

In [43]:
df_ind2.to_csv('data/NP_FAERS_mapped_indications_join_on_drugname_negative_20220223.csv', index=False)